

.individualReg{
    padding:1% 10% 4%;
}
.individualReg h2,h4{
  color:white;
}

#events{
  margin: 1% 1% 5% 2%;
  padding:2%;
  border-radius: 8px;
  border:none;
}
.create-form{
  background-color: #a1a1a1;
  border-radius: 10px;
    margin:2% 30% 0%;
    padding: 4% 6%;
    /* padding-right:8%;   */
}
.create-form input{
    margin: 1% 1% 5% 2%;
    padding:2%;
    border-radius: 8px;
    border:none;
  }
  .create-form input::placeholder{
   color:#000000
  }
.regbtn{
    margin: 5% 30% 1% ;
    background-color: #7a50ef;
    padding:1.3% 5%; 
    border-radius: 10px;
    border:none;
    font-size: 15px;
    color:white;
  }
.paybtn{
    
    background-color: rgba(246, 0, 0, 0.92);
    /* margin-bottom: 10%!important; */
    /* color:#000000 */
}  
.singleEvent{
  padding:5%;
}
.singleEvent h2,h4,li,label{ 
  color:white
}
.singleEvent h4{
  margin:3% 0
}
.footer{
  color:white;
}
.footer hr{
  margin:0 40%;
  border-top: 6px solid #fff;
  border-radius: 10px;
  width:250px;
}
.footerP{
  display: flex;
  justify-content: center;
}
.wholeApp h2,h3{
  color:white;
}


/* .ruleslist{
  padding:3%
} */




/* Switch Customization */


  /* Swicth Styling */
  .switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 200px;
    height: 25px;
    padding: 3px;
    margin: 0 10px 10px 0;
   
    /* background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px); */
    border-radius: 10px;
    /* box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    /* cursor: pointer;
    box-sizing:content-box; */
  }
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
   
    box-sizing:content-box;
  }
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
     /* padding:3%; */
    /* background: #eceeef; */
    background: linear-gradient(to right, #43cea2, #185a9d);
    border-radius: inherit;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15); */
    box-sizing:content-box;
  }
  .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
  }
  .switch-label:before {
    content: attr(data-off);
    right: 18px;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }
  .switch-label:after {
    content: attr(data-on);
    top:13px;
    left: 15px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label {
    /* background: #E1B42B; */
    background: linear-gradient(to right, #ee0979, #ff6a00);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .switch-input:checked ~ .switch-label:before {
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label:after {
    opacity: 1;
  }
  .switch-handle {
 
    background-color: rgba(255, 255, 255, 0.5);;
    margin-top:4px;
    position: absolute;
    top: -2px;
    left: 2px;
    width: 100px;
    height:27px;
    /* background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0); */
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    /* background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF); */
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }
  .switch-input:checked ~ .switch-handle {
    left: 98px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }
   
  /* Transition
  ========================== */
  .switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }
.toggleSwitch{
  margin:4% 42% 1%;
}


/* CArd Customization */
.MuiCard-root{
  background-color: rgba(255, 255, 255, 0.755)!important;
  backdrop-filter: blur(200px);
}
.MuiCard-root Link{
  text-decoration: none;
}
.MuiPaper-root-MuiCard-root {
  background-color: #43cea2;
}
.cardArea{
  padding:2%;
}
.cardArea h3{
  margin-left:1%;
  padding:2% 0;
}




  
@media (max-width: 990px){
    .create-form input{
        margin: 5% 1% 10% 2%;
        padding:3%;
        border-radius: 5px;
      }
      .create-form{
        margin:0 5%;
        padding: 5% 10%;
        /* padding-right:8%;   */
    }
    .regbtn{
        padding:3% 5%; 
        margin: 5% 30% 2%;
        border-radius: 5px;
        font-size: 12px;
    }
     .toggleSwitch{
      margin:3% 20%
     } 
     .individualReg h2,h4{
      font-size:smaller;
   } 
   .footer hr{
    margin:0 35%;
    border-top: 6px solid #fff;
    border-radius: 10px;
    width:100px;
  }
  }